.cwh-text-indent { margin-left:5px; }
.cwh-text-opacity_50 { opacity: .50 }
.cwh-text-large-area { margin: 0px !important; height: 200px!important; width:600px !important;}
.cwh-input-smallbox { padding: 3px 3px; width: 15%}

.bootcards-container,
.container .bootcards-cards,
.container .bootcards-list {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  
   }
   
/*
 * Fonts customization begins here!
 * */
@font-face {
	font-family: 'AgencyFB';
	src: url('AgencyFB.ttf');
}
  
html, body {
  /*overflow-y: scroll;*/
  overflow-y: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  
}


/* Background formatting begins here! */

:root{
	--u3ds-superlight: white;
	--u3ds-primary: #174275;
	--u3ds-secondary: #092642;
	--u3ds-ternary: #174275;
	--u3ds-text: #fff;
}
html,body{
	background-color: var(--u3ds-superlight);
}
.panel-default .panel-heading{
	background-color: var(--u3ds-secondary);
}
.panel{
	background-color: var(--u3ds-ternary);
}

.u3ds-primary-bg {
	background-color: var(--u3ds-primary); 
}
.u3ds-primary-text{
	color: var(--u3ds-primary);
}
.u3ds-secondary-bg{
	background-color: var(--u3ds-secondary);
}
.u3ds-secondary-text{
	color: var(--u3ds-secondary);
}

a.list-group-item{
	background-color: var(--u3ds-secondary);
	
}

a.list-group-item.active{
	background-color: var(--u3ds-ternary);
	
}

/* Text formatting begins here! */


html, body, 
.navbar .navbar-brand,
.navbar-default .navbar-nav>li>a,
.panel-title {
	color: var(--u3ds-text);
}
a.list-group-item.active{
	color: var(--u3ds-text);
}
a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading{
	color: var(--u3ds-text);
}

a.list-group-item{
	color: var(--u3ds-text);
}

.panel-default .panel-heading{
	color: var(--u3ds-text);
}

.position-formatting-begins-here{}

.u3ds-fixed{
	position: fixed;
}
.u3ds-top{
	z-index: 99;
}
.u3ds-margin{
	margin-top:100px; 
}
.u3ds-padding{
	padding-top: 100px;
}
.u3ds-full-width{
	width: 90%;
}


/* miscellaneous formatting begins here  */

.panel-footer{
	display: none;
}

.list-group-item{
	margin-left:0;
	padding-left: 10px;
}
.u3ds-height-limit{
	max-height: 270px;
	overflow: scroll;
}

.row{
	margin-right: 0;
}

/*
 * apply same radius and shadow to everything
 * */

.navbar,
.bootcards,
.panel {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.47);
}
